{% extends 'layout.html' %}

{% block content %}
<div class="col-md-4 offset-md-4 card card-body p-5" style="background-color: #121212;">

    <form method="post">
        
        {% csrf_token %}

        <div style="margin-bottom: 30px;" class="text-center">
            <h2>Añadir Cliente</h2>
        </div>

        <div style="margin-bottom: 15px;">
            <p>Llene todas las casillas.</p>
        </div>

        <div style="margin-bottom: 15px;">
            <input type="text" id="name" name="nombre" placeholder="Nombre del cliente" class="form-control">
        </div>
        
        <div style="margin-bottom: 15px;">
            <input type="text" id="CC" name="cedula" placeholder="Cédula del cliente" class="form-control">
        </div>
        
        <div style="margin-bottom: 15px;">
            <input type="text" id="address" name="direccion" placeholder="Dirección" class="form-control">
        </div>
        
        <div style="margin-bottom: 15px;">
            <input type="text" id="phone" name="telefono" placeholder="Teléfono" class="form-control">
        </div>

        <div>
            <center>
                <button class="btn btn-primary" type="submit">Continuar</button>
            </center>
        </div>
       
    </form>
</div>
{% endblock %}