{% extends 'layout.html' %}

{% block content %}
<div class="col-md-4 offset-md-4 card card-body p-5" style="background-color: #121212;">

    <form method="POST">
        
        {% csrf_token %}

        {% if error %}
            <h3>{{ error }}</h3>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">
                    <a href="{% url 'cajero:manejar_clientes' %}" style="color: aliceblue;">Agregar proveedor</a>
                </button>
            </div>
        {% else %}
            <div style="margin-bottom: 30px;" class="text-center">
                <h2>Añadir Cliente</h2>
            </div>

            <div style="margin-bottom: 15px;">
                <p>Deje en blanco las casillas que no necesite.</p>
            </div>
            
            <div style="margin-bottom: 15px;">
                <input type="text" id="address" name="direccion" placeholder="Dirección" class="form-control">
            </div>
            
            <div style="margin-bottom: 15px;">
                <input type="text" id="phone" name="telefono" placeholder="Teléfono" class="form-control">
            </div>

            <div>
                <center>
                    <button class="btn btn-primary">Continuar</button>
                </center>
            </div>
        {% endif %}
       
    </form>
</div>
{% endblock %}