{% extends 'layout.html' %}

{% block content %}
<div class="col-md-10 mx-auto card card-body p-5 d-flex flex-column" style="background-color: #121212;">

    <div class="text-center" style="margin-bottom: 10px;">
        <h2>Lista de clientes</h2>
    </div>

    <form method="post" style="line-height: 200%">
        
        {% csrf_token %}

        {% if clientes %}
        <div style="margin-bottom: 20px;" class="row justify-content-center">
            <table class="table table-sm">
                <thead class="thead">
                    <tr class="tr">
                        <th scope="row" class="text-center" style="color: aliceblue;">Nombre</th>
                        <th scope="row" class="text-center" style="color: aliceblue;">Cedula</th>
                        <th scope="row" class="text-center" style="color: aliceblue;">Dirección</th>
                        <th scope="row" class="text-center" style="color: aliceblue;">Télefono</th>
                        <th scope="row" class="text-center" style="color: aliceblue;">Opciones</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    {% for cliente in clientes %}
                        <tr class="tr">
                            <td colspan="1" class="text-center align-middle" style="color: aliceblue;">{{ cliente.nombre }}</td>
                            <td colspan="1" class="text-center align-middle" style="color: aliceblue;">{{ cliente.cedula }}</td>
                            <td colspan="1" class="text-center align-middle" style="color: aliceblue;">{{ cliente.direccion }}</td>
                            <td colspan="1" class="text-center align-middle" style="color: aliceblue;">{{ cliente.telefono }}</td>
                            <td class="text-center align-middle">
                                <div>
                                    <a href="{% url 'cajero:eliminar_cliente' cliente.cedula %}" style="color: aliceblue;">Eliminar</a>
                                </div>
                                <div>
                                    <a href="{% url 'cajero:editar_cliente' cliente.cedula %}" style="color: aliceblue;">Editar</a>
                                    <a href="{% url 'cajero:historico' cliente.cedula %}" style="color: aliceblue;">Compras</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <h2>No hay clientes registrados</h2>
        {% endif %}

        <div style="margin-bottom: 5px;">
            <center>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button onclick="redirigir(1)" type="button" class="btn btn-primary">Volver a clientes</button>
                    <button onclick="redirigir(2)" type="button" class="btn btn-primary">Registrar cliente</button>
                </div>
            </center>    
        </div>

        <script>
            function redirigir(opcion) {
                if (opcion === 1) {
                    window.location.href = "http://127.0.0.1:8000/cajero/clientes/";
                } else if (opcion === 2) {
                    window.location.href = "http://127.0.0.1:8000/cajero/clientes/añadir_cliente/";
                }
            }
        </script>

    </form>
</div>
{% endblock %}