{% extends 'layout.html' %}

{% block content %}
<div class="col-md-6 mx-auto card card-body p-5 d-flex flex-column" style="background-color: #121212;">

    <form method="POST">
        
        {% csrf_token %}

        <div style="margin-bottom: 30px;" class="text-center">
            <h2>Añadir Proveedor</h2>
        </div>

        <div style="margin-bottom: 15px;">
            <p>Llene todas las casillas.</p>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Nombre del Proveedor</span>
            <input type="text" id="name" name="nombre" class="form-control">
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">NIT</span>
            <input type="text" id="NIT" name="nit" class="form-control">
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Dirección</span>
            <input type="text" id="address" name="direccion" class="form-control">
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Teléfono</span>
            <input type="text" id="phone" name="telefono" class="form-control">
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Productos</span>
            <input type="text" id="products" name="productos" class="form-control">
        </div>

        <div style="margin-bottom: 5px;">
            <center>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a href= "http://127.0.0.1:8000/admin/proveedores/" type="a" class="btn btn-primary">Volver</a>
                    <button href="http://127.0.0.1:8000/admin/proveedores/" class="btn btn-primary" type="submit">Agregar</button>                
                </div>
            </center>    
        </div>

    </form>
</div>
{% endblock %}