{% extends 'layout.html' %}

{% block content %}
<div class="col-md-7 mx-auto card card-body p-5 d-flex flex-column" style="background-color: #121212;">

    <form method="POST">
        
        {% csrf_token %}

        {% if error %}
            <h3>{{ error }}</h3>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">
                    <a href="{% url 'proveedor:añadir_proveedores'%}" style="color: aliceblue;">Agregar proveedor</a>
                </button>
            </div>
        {% else %}
            <div style="margin-bottom: 30px;" class="text-center">
                <h2>Modificar Proveedor</h2>
            </div>

            <div style="margin-bottom: 15px;">
                <p>Escriba en los espacios que quiere editar.</p>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">NIT</span>
                <input type="text" id="nit" name="nit" class="form-control" value="{{ proveedor_form.nit.value }}">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Nombre del Proveedor</span>
                <input type="text" id="name" name="nombre" class="form-control" value="{{ proveedor_form.nombre.value }}">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Dirección</span>
                <input type="text" id="direccion" name="direccion" class="form-control" value="{{ proveedor_form.direccion.value }}">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Teléfono</span>
                <input type="text" id="telefono" name="telefono" class="form-control" value="{{ proveedor_form.telefono.value }}">
            </div>
            
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Productos</span>
                <input type="text" id="productos" name="productos" class="form-control" value="{{ proveedor_form.productos.value }}">
            </div>
            
            <div style="margin-bottom: 5px;">
                <center>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a href= "http://127.0.0.1:8000/admin/proveedores/mostrar_proveedores/" type="a" class="btn btn-primary">Cancelar</a>
                        <button class="btn btn-primary" type="submit">Aceptar</button>                
                    </div>
                </center>    
            </div>

        {% endif %}
       
    </form>
</div>
{% endblock %}