{% extends 'layout.html' %}

{% block content %}
<div class="col-md-4 offset-md-4 card card-body p-5" style="background-color: #121212;">

    <form method="post">
        
        {% csrf_token %}

        <div style="margin-bottom: 30px;" class="text-center">
            <h2>Buscar Proveedor</h2>
        </div>

        <div style="margin-bottom: 15px;">
            <p>Ingrese el NIT del proveedor que desea buscar.</p>
        </div>
        
        <div style="margin-bottom: 15px;">
            <input type="text" id="NIT" name="nit" placeholder="NIT" class="form-control">
        </div>
        
        <div>
            <center>
                <button class="btn btn-primary" type="submit">
                    <a href="{% url 'proveedor:mostrar_proveedores' %}" style="color: aliceblue;">
                        Continuar
                    </a>
                </button>
            </center>
        </div>
       
    </form>
</div>
{% endblock %}