{% extends 'layout.html' %}

{% block content %}
<div class="col-md-4 offset-md-4 card card-body p-5" style="background-color: #121212;">

    <form method="POST">
        
        {% csrf_token %}

        <div style="margin-bottom: 30px;" class="text-center">
            <h2>Añadir Producto</h2>
        </div>

        <div style="margin-bottom: 15px;">
            <p>Llene todas las casillas.</p>
        </div>

        <div style="margin-bottom: 15px;">
            <input type="text" id="name" name="nombre" placeholder="Nombre del producto" class="form-control">
        </div>
        
        <div style="margin-bottom: 15px;">
            <input type="text" id="code" name="codigo_de_barras" placeholder="Código del producto" class="form-control">
        </div>
        
        <div style="margin-bottom: 15px;">
            <input type="text" id="stock" name="stock" placeholder="Stock" class="form-control">
        </div>
        
        <div style="margin-bottom: 15px;">
            <input type="text" id="purchase" name="precio_compra" placeholder="Precio de compra" class="form-control">
        </div>
        
        <div style="margin-bottom: 25px;">
            <input type="text" id="sale" name="precio_venta" placeholder="Precio de venta" class="form-control">
        </div>

        <div style="margin-bottom: 25px;">
            <input type="text" id="sale" name="unidades_vendidas" placeholder="Unidades vendidas" class="form-control">
        </div>

        <div style="margin-bottom: 25px;">
            <input type="text" id="sale" name="ganancia" placeholder="Ganancia" class="form-control">
        </div>

        <div style="margin-bottom: 25px;">
            <input type="text" id="sale" name="proveedor_nit" placeholder="NIT del proveedor" class="form-control">
        </div>
        
        <div>
            <center>
                <button class="btn btn-primary" type="submit">Continuar</button>
            </center>
        </div>
       
    </form>
</div>
{% endblock %}