{% extends 'layout.html' %}

{% block content %}
<div class="col-md-6 mx-auto card card-body p-5 d-flex flex-column" style="background-color: #121212;">

    <div class="text-center" style="margin-bottom: 10px;">
        <h2>Administración de Productos</h2>
    </div>

    <label style="margin-bottom: 12px;">Seleccione una opción:</label>
    
    <form id="product_form" method="post">
    
        <select id="form_option" class="form-control" style="margin-bottom: 20px;">
            <option value="mostrar_productos">Mostrar Productos</option>
            <option value="añadir_producto">Añadir Producto</option>
        </select>
        
        <center>
            <button class="btn btn-primary">Continuar</button>
        </center>
    
    </form>

    <script>
        document.getElementById('product_form').addEventListener('submit', function(e) {
            e.preventDefault();

            var selectValue = document.getElementById('form_option').value;
            var actionUrl = selectValue + '/';

            window.location.href = actionUrl;
        });
    </script>

</div>
{% endblock %}