{% extends 'layout.html' %}

{% block content %}
<div class="col-md-4 offset-md-4 card card-body p-5" style="background-color: #121212;">

    <form method="post">
        
        {% csrf_token %}

        <div style="margin-bottom: 30px;" class="text-center">
            <h2>Buscar Producto</h2>
        </div>

        <div style="margin-bottom: 15px;">
            <p>Ingrese el código de barras del producto que quiere buscar.</p>
        </div>

        <div style="margin-bottom: 15px;">
            <input type="text" id="code" name="codigo_de_barras" placeholder="Código del producto" class="form-control">
        </div>
        
        <div>
            <center>
                <button class="btn btn-primary">
                    <a href="{% url 'proveedor:mostrar_productos' %}" style="color: aliceblue;">
                        Continuar
                    </a>
                </button>
            </center>
        </div>
       
    </form>
</div>
{% endblock %}