{% extends 'layout.html' %}

{% block content %}
<div class="col-md-10 mx-auto card card-body p-5 d-flex flex-column" style="background-color: #121212;">

    <div class="text-center" style="margin-bottom: 10px;">
        <h2>Lista de Proveedores</h2>
    </div>

    <form method="post" style="line-height: 200%">
        
        {% csrf_token %}

        {% if facturas %}
        <div style="margin-bottom: 20px;" class="row justify-content-center">
            <table class="table table-sm">
                <thead class="thead">
                    <tr class="tr">
                        <th scope="row" class="text-center" style="color: aliceblue;">Fecha</th>
                        <th scope="row" class="text-center" style="color: aliceblue;">Cédula</th>
                        <th scope="row" class="text-center" style="color: aliceblue;">Número de factura</th>
                        <th scope="row" class="text-center" style="color: aliceblue;">Opciones</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    {% for factura in facturas %}
                        <tr class="tr">
                            <td colspan="1" class="text-center" style="color: aliceblue;">{{ factura.fecha }}</td>
                            <td colspan="1" class="text-center" style="color: aliceblue;">{{ factura.cliente_cedula.cedula }}</td>
                            <td colspan="1" class="text-center" style="color: aliceblue;">{{ factura.id }}</td>
                            <td >
                                <div>
                                    <a href="{% url 'cajero:resumen' factura.id %}" style="color: aliceblue;">Más detalles</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <h2>Hubo un error</h2>
        {% endif %}

        <div style="margin-bottom: 5px;">
            <center>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button onclick="redirigir(1)" type="button" class="btn btn-primary">Volver a cajero</button>
                    <button onclick="redirigir(2)" type="button" class="btn btn-primary">Volver a ver clientes</button>
                </div>
            </center>    
        </div>

        <script>
            function redirigir(opcion) {
                if (opcion === 1) {
                    window.location.href = "http://127.0.0.1:8000/cajero/";
                } else if (opcion === 2) {
                    window.location.href = "http://127.0.0.1:8000/cajero/clientes/mostrar_clientes/";
                }
            }
        </script>

    </form>
</div>
{% endblock %}
