{% extends 'manager/layout.html' %}

{% block content %}
<div class="col-md-4 offset-md-4 card card-body p-5" style="background-color: #121212;">

    <form action="{% url 'cashier_results' %}" method="post">
        
        {% csrf_token %}

        <div style="margin-bottom: 30px;" class="text-center">
            <h2>Compra sin registro</h2>
        </div>

        <div style="margin-bottom: 1px;">
            <p>Cédula de Ciudadanía {{CC}}.</p>
            <p>Llene todas las casillas.</p>
        </div>

        <div style="margin-bottom: 15px;">
            <input type="text" id="products" name="products" placeholder="Productos separados por coma" class="form-control">
        </div>
        
        <div style="margin-bottom: 15px;">
            <input type="text" id="prices" name="prices" placeholder="Precios separados por coma" class="form-control">
        </div>

        <div>
            <center>
                <button class="btn btn-primary">Continuar</button>
            </center>
        </div>
       
    </form>
</div>
{% endblock %}